<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anxietyByHeartRate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IdanLogin"
        tools:targetApi="34">
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ParentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            tools:ignore="AppLinkUrlError" />

        <service
            android:name=".HeartRateService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HeartRateActivity"
            android:exported="false"
            android:label="@string/title_activity_heart_rate"
            android:theme="@style/Theme.IdanLogin" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Define your custom URL scheme and host -->
                <data
                    android:host="com.example.anxietyByHeartRate.oauth"
                    android:pathPrefix="/oauth_callback"
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
    </application>

</manifest>